.auth-info{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  background-image: image-url("ski-photo.jpeg");
  background-size: cover;
  background-position: bottom;
}

.signup{
  background-color: white;
  height: 60%;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: black;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  border-radius: 4px;
}


.demo-login{
  background-color: white;
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: black;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  border-radius: 4px;
}

.names{
  display: flex;
  justify-content: center;
  width: 400px;
}

.first-name{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 5px;
  border: 1.5px black;
  font-size: 16px;
font-weight: normal;
}

.last-name{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 5px;
font-size: 16px;
font-weight: normal;
}

.first-name > input{
  margin-top: 10px;
  height: 40px;
  width: 105px;
  border-radius: 4px;
  box-shadow: none
}

.last-name > input{
  margin-top: 10px;
  height: 40px;
  width: 105px;
  border-radius: 4px;
  box-shadow: none;
}

.head{
height: 60px;
border-bottom: 2px solid rgba(0,0,0,0.15);
}

h3{
  font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.email{
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 230px;
}

.password{
  display: flex;
  flex-direction: column;
  // align-items: left;
  width: 230px;
}

.email > input{
  margin-top: 10px;
  border-radius: 4px;
  height: 40px;
}

.password > input{
  margin-top: 10px;
  border-radius: 4px;
  height: 40px;
}

.local{
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 30px;
}

.share{
  font-size: 20px;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.bottom-join{
    background-color: #ED6504;
    border-color: #ED6504;
    font-family: Lato;
    font-size: 15px;
    border-radius: 4px;
    height: 40px;
    width:  200px;
    color: white;
}

.bottom-join:hover{
  background-color: #27374c;
  cursor: pointer;
}

.auth-info-modal{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), image-url('ski-photo.jpeg');
  background-size: 100%;
}

.exit{
  margin-left: 320px;
}

.login-button{
  background-color: transparent;
  color: white;
  height: 40px;
  width: 60px;
  font-size: 15px;
  border: none;
  text-shadow: -0.3px 0 black, 0 0.3px black, 0.3px 0 black, 0 -0.3px black;
}

.login-button:hover{
  cursor: pointer;
}

.login{
  background-color: white;
  color: #27374c;
  margin-left: 10px;
  border-radius: 4px;
  margin-top: 8px;
  padding: 8px;
  height: 40px;
  width: 60px;
  font-size: 15px;
}

.join{
  background-color: #27374c;
  color: white;
  margin-left: 70%;
  border-radius: 4px;
   padding: 8px;
  height: 40px;
  width: 60px;
  font-size: 15px;
}

.login:hover{
  cursor: pointer;
}

.join:hover{
  cursor: pointer;
}

.title{
    font-family: papyrus;
    color: #D4490B;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
}

.errors{
  color: #3e1214;
  // background-color: #f1cdd0;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errors > li{
  // list-style-image: url("skiis.png")
list-style: none;
}

.dropdown{
  // position: absolute;
  z-index: 1;
  list-style: none;
  height: 30px;
  width: 200px;
  margin-right: 30px;
  background-color: white;
  border: 0.1px solid rgba(0,0,0,0.1);
}

.drop-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.loc-container{
  display: flex;
  flex-direction: column;
}

.dropdown:hover{
  cursor: pointer;
}


.show-header{
     display: flex;
    justify-content: space-around;
    align-items: center;
    // position: absolute;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid rgba(0,0,0,0.15);
    background-color: white;
}

.explore{
  display: flex;
    // list-style-type: disc;
    // margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // padding-inline-start: 40px;
}

.explore > span{
    // border-right: 1.7px solid rgba(0,0,0,0.15);
    // border-left: 1.3px solid rgba(0,0,0,0.15);
    // border-bottom: 2px solid rgba(0,0,0,0.15);
    padding: 10px;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
   
}


.explore-search > input{
    // border-right: 1.7px solid rgba(0,0,0,0.15);
    // border-left: 1.3px solid rgba(0,0,0,0.15);
    // border-bottom: 1.5px solid rgba(0,0,0,0.15);
    border-top: none;
    border-left: none;
    padding: 9px;
     border-radius: 0px 4px 4px 0px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
    font-size: 16px;
}

.settings-li-hidden{
  display: none;
  z-index: 1;
}
.lis-count{
    position: absolute;
    top: 62px;
    padding: 0px;
        margin-bottom: 0;
    color: #27374c;
        font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: white;
    border: 1px solid rgb(230, 230, 230);
  border-top: none;
  }
li.settings-li-shown {
    list-style: none;
    width: inherit;
    height: 40px;
    padding: 10px;
    background-color: white;
    
}

.pro{
  
  cursor: pointer;
    // list-style-type: disc;
    // margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // padding-inline-start: 40px;
}

.show-body{
      display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: #F1EFEA;
    height: 100%;
    background-size: cover;
     -webkit-font-feature-settings: 'kern', 'liga', 'pnum';
    font-feature-settings: 'kern', 'liga', 'pnum';
    color: #27374c;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1em;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.show-left{
      display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom: 1.5px solid rgba(0,0,0,0.15);
    margin: 10px;
    align-items: center;
}

.show-middle{
    background-color:#F1EFEA;
    height: 60%;
    width: 50%;
    border-bottom: 1.5px solid rgba(0,0,0,0.15);
   margin: 10px;
}

.middle-top{
  display: flex;

  border-bottom: 1.5px solid rgba(0,0,0,0.15);
  padding: 30px;
  background-color: white;
  margin-bottom: 20px;
}

.res-req{
    background-color: #f7f7f7;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.15);
    height: 400px;
    margin-bottom: 20px;
}

.top-left{
display: flex;
flex-direction: column;
}

.show-host{
  font-size: 1.4em;
}

.login-time{
  color: gray;
  font-size: 15px;
}

.edit-button{
  background-color: #287FB8;
    border: 1px solid #287FB8;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    max-width: 240px;
    min-width: 6em;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    white-space: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    margin-left: 15px;
}

.edit-button > a{
  color: white;
  text-decoration: none;
}

.description-section{
  height: 400px;
}

.description-section > span{
  padding: 20px;
}

.show{
  background-color: #F1EFEA;
    position: absolute;
    height: 100%;
    width: 100%;
}
.dis-list{
  position: absolute;
  top: 22px;
}

.head-settings:hover{
  cursor: pointer;
}

.head-settings{
  display: flex;
  flex-direction: column;
  // justify-content: left;
  padding: 0px;
}


#list-li {
	margin: 0;
	padding: 20px 0 20px 40px;
	list-style: none;
	background-image: image-url("ski.png");
	background-repeat: no-repeat;
	background-position: left center;
  background-size: 40px;
  color: #929dad;
  font-size: 1em;
}

   #profile{ line-height: 1.8em;
    margin-bottom: 7px;
    color: #34495e;
    max-width: 200px;
    font-size: 1.2em;
      margin: 0 40px;
    padding: 0 0 35px 0;
    border-bottom: 1px solid #e6e6e6;
   }

   #user-img{
    background-image: image-url("userimg.png");
    margin-bottom: 16px;
    height: 100px;
    width: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: left center;
    border: none;
    margin-top: 10px;
   }

   #show-logo{
    background-image: image-url("couchsurfing.png");
    background-size: cover;
    height: 50px;
    width: 50px;
   }
   .middle-middle{
     background-color: white;
   border-bottom: 1.5px solid rgba(0,0,0,0.15);
  }
      
  .description-section{
    border-top: 1.5px solid rgba(0,0,0,0.15);
    background-color: #f7f7f7;
    border-bottom: 1.5px solid rgba(0,0,0,0.15);
}
.middle-tool{
  display: flex;
  justify-content: space-around;
}
.middle-tool > span{
  line-height: 80px;
  color: #287FB8;
  font-size: inherit;
  text-decoration: none;
  padding-left: 15px;
  cursor: pointer;
}

#setting-img{
  // position: absolute;
  background-image: image-url("settings.webp");
  //  background-size: cover;
  //   height: 50px;
  //   width: 50px;
   }

   .edit-left{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #bfcad2;
    background-color: white;
    width: 30%;
   }

   #overview{
     display: flex;
     flex-direction: column;

   }

   .description-section-hidden{
     display: none;
   }

  #overview > span{
    font-size: 1.2rem;
    color: #ed6542;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: Lato, "Proxima Nova", Gotham, Geneva, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  #overview > li{
  font-family: Lato, "Proxima Nova", Gotham, Geneva, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'kern', 'liga', 'pnum';
    color: #27374c;

  }

  #edit-outer{
    display: flex;
    color: #34495e;
    justify-content: center;
  }

  .edit-main{
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .edit-main > form{
        background-color: white;
        height: 500px;
        width: 500px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: left;
         border-bottom: 2px solid #bfcad2;
  }

  .edit-main > h1{
    font-size: 3.8rem;
    font-weight: bold;
    margin: 0;
    padding: 10px;
  }

  #row-one{
    display: flex;
    border-bottom: 1px solid #ecf0f1;
    position: relative;
    justify-content: right;
  }

  .edit-main > form > label{
    border-bottom: 1px solid #ecf0f1;
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
  }

  select{
    padding: 20px;
    margin-left: 25px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #bfcad2;
    border-radius: 4px;
  }

  #abt{
        border-bottom-color: #34495e;
        color: #34495e;
            transition: border-color 500ms ease 0s;
    border-bottom: 4px solid #fff;
    padding: 10px 20px;
    position: relative;
    margin-right: 30%;
    font-size: 20px;
  }

  .edit-button-page{
  background-color: #287FB8;
    border: 1px solid #287FB8;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    max-width: 240px;
    min-width: 6em;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    white-space: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    margin-right: 20px;
}

#buttons{
  display: flex;
  justify-content: space-around;
}


#descript{
  display: flex;
  flex-direction: column;
}

#descript > input{
  padding-bottom: 300px;
  border-radius: 4px;
  font-size: 16px;
  text-align: start;
}

.left-img{
  background-image: image-url("userimg.png");
  background-size: cover;
  background-position: center;
  border-bottom: 10px solid rgba(39,55,76,0.6);
  height: 50%;
  width: 100%;
}

#location-main{
  display: flex;
  flex-direction: column;
  background-color: #F1EFEA;
  height: 1000px;
}

#location-header{
  width: 100%;
  height: 30%;
  background-image: image-url("mount-3.jpeg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  border-radius: 4px;
}

#city{
  color: white;
  font-size: 40px;
  font-feature-settings: 'kern', 'liga', 'pnum';
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-bottom: 10px;
  margin-left: 10px;
}

#country{
  color: white;
  font-size: 25px;
  margin-left: 10px;
  font-feature-settings: 'kern', 'liga', 'pnum';
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#location-middle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 450px;
}

#location-hosts{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  border-bottom: 2px solid rgba(0,0,0,0.15);
  margin: 20px;
}

#hosts-header{
  padding: 20px;
  padding-left: 32%; 
  border-bottom-color: rgb(230, 230, 230);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #27374c;
  font-weight: bolder;
  font-size: 20px;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#hosts-count{
color: #27374c;
font-size: 17px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 25px;
font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.host-list{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

 #host-img{
   background-image: image-url("blank_portrait.png");
background-size: 75px;
backface-visibility:hidden;
background-color:rgba(0, 0, 0, 0);
border-bottom-color:rgb(191, 202, 210);
border-bottom-left-radius:50%;
border-bottom-right-radius:50%;
border-bottom-style:solid;
border-bottom-width:1px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(191, 202, 210);
border-left-style:solid;
border-left-width:1px;
border-right-color:rgb(191, 202, 210);
border-right-style:solid;
border-right-width:1px;
border-top-color:rgb(191, 202, 210);
border-top-left-radius:50%;
border-top-right-radius:50%;
border-top-style:solid;
border-top-width:1px;
box-sizing:border-box;
color:rgb(40, 127, 184);
cursor:pointer;
display:inline-block;
font-family:Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-feature-settings:"kern", "liga", "pnum";
font-size:16px;
height:75.5625px;
line-height:0px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
max-height:130px;
max-width:130px;
overflow-wrap:break-word;
overflow-x:hidden;
overflow-y:hidden;
position:relative;
text-align:center;
text-decoration-color:rgb(40, 127, 184);
text-decoration-line:none;
text-decoration-style:solid;
text-size-adjust:100%;
transition-duration:0.2s;
transition-property:all;
transition-timing-function:ease-in;
width:75.5625px;
word-break:break-word;
-webkit-box-direction:normal;
-webkit-font-smoothing:antialiased;
 }

 #loc-link{
background-color: rgba(0, 0, 0, 0);
box-sizing:border-box;
color:rgb(40, 127, 184);
cursor:pointer;
display:block;
font-family:Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-feature-settings:"kern", "liga", "pnum";
font-size:16px;
font-style:normal;
height:24px;
line-height:24px;
margin-top:1px;
text-align:center;
text-decoration-color:rgb(40, 127, 184);
text-decoration-line:none;
text-decoration-style:solid;
text-size-adjust:100%;
width:220px;
-webkit-box-direction:normal;
-webkit-font-smoothing:antialiased;
 }

 .res-req-none{
   display: none;
 }

 .res-req > h1{
   padding: 10px;
    box-sizing: border-box;
    color: rgb(39, 55, 76);
    display: block;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-feature-settings: "kern", "liga", "pnum";
    font-size: 16px;
    font-weight: 700;
 }

 .dates{
   display: flex;
   justify-content: space-around;
 }

 #dateId{
background-color:rgb(255, 255, 255);
border-bottom-color:rgba(0, 0, 0, 0.15);
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
border-bottom-style:solid;
border-bottom-width:1px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgba(0, 0, 0, 0.15);
border-left-style:solid;
border-left-width:1px;
border-right-color:rgba(0, 0, 0, 0.15);
border-right-style:solid;
border-right-width:1px;
border-top-color:rgba(0, 0, 0, 0.15);
border-top-left-radius:3px;
border-top-right-radius:3px;
border-top-style:solid;
border-top-width:1px;
box-shadow:none;
box-sizing:border-box;
color:rgb(0, 0, 0);
cursor:text;
display:block;
font-family:Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-feature-settings:"kern", "liga", "pnum";
font-size:16px;
font-stretch:100%;
font-style:normal;
font-variant-caps:normal;
font-variant-east-asian:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-weight:400;
height:42px;
letter-spacing:normal;
line-height:24px;
margin-bottom:5px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
max-width:240px;
overflow-wrap:break-word;
overflow-x:visible;
overflow-y:visible;
padding-bottom:8px;
padding-left:8px;
padding-right:8px;
padding-top:8px;
text-align:start;
text-indent:0px;
text-rendering:auto;
text-shadow:none;
text-size-adjust:100%;
text-transform:none;
user-select:none;
width:180px;
word-break:break-word;
word-spacing:0px;
writing-mode:horizontal-tb;

 }

 #date-cont{
   display: flex;
   flex-direction: column;
 }

 #mess-head{
   margin-left: 25px;
 }

 #mess-text{
   background-color:rgb(255, 255, 255);
border-bottom-color:rgba(0, 0, 0, 0.15);
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
border-bottom-style:solid;
border-bottom-width:1px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgba(0, 0, 0, 0.15);
border-left-style:solid;
border-left-width:1px;
border-right-color:rgba(0, 0, 0, 0.15);
border-right-style:solid;
border-right-width:1px;
border-top-color:rgba(0, 0, 0, 0.15);
border-top-left-radius:3px;
border-top-right-radius:3px;
border-top-style:solid;
border-top-width:1px;
box-shadow:none;
box-sizing:border-box;
color:rgb(0, 0, 0);
cursor:text;
display:block;
flex-direction:column;
font-family:Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-feature-settings:"kern", "liga", "pnum";
font-size:16px;
font-stretch:100%;
font-style:normal;
font-variant-caps:normal;
font-variant-east-asian:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-weight:400;
height:160px;
letter-spacing:normal;
line-height:24px;
margin-bottom:10px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
overflow-wrap:break-word;
overflow-x:auto;
overflow-y:auto;
padding-bottom:10px;
padding-left:10px;
padding-right:10px;
padding-top:4px;
resize:vertical;
text-align:start;
text-indent:0px;
text-rendering:auto;
text-shadow:none;
text-size-adjust:100%;
text-transform:none;
white-space:pre-wrap;
width:380px;
word-break:break-word;
word-spacing:0px;
writing-mode:horizontal-tb;
-webkit-appearance:none;
-webkit-box-direction:normal;
-webkit-font-smoothing:antialiased;
-webkit-rtl-ordering:logical;
-webkit-border-image:none;
margin-left: 25px;
 }



 #send-button{
     background-color: #287FB8;
    border: 1px solid #287FB8;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    max-width: 240px;
    min-width: 6em;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    white-space: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    margin-left: 70%;
 }

 .reference-section-hidden{
   display: none;
 }

 .reference-section{
   height: 400px;
   border-top: 1.5px solid rgba(0,0,0,0.15);
    background-color: #f7f7f7;
    border-bottom: 1.5px solid rgba(0,0,0,0.15);
 }

 .ref-list{
   display: flex;
   justify-content: space-around;
  padding: 20px;
   border-bottom-color:rgb(230, 230, 230);
  border-bottom-style:solid;
  border-bottom-width:1px;
 }

 .ref-list-info{
    display: flex;
    flex-direction: column;
   
 }

 .ref-list-info > span{
   font-feature-settings: 'kern', 'liga', 'pnum';
    color: #27374c;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1em;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
 }

 #Stay{
   color: #41b866;
   padding-top: 7px;
   padding-bottom: 7px;
 }
 
 #ref-email{
   font-size: 1.3em;
   font-weight: bold;
   padding-bottom: 7px;
 }

 #ref-member{
   color: #929dad;
  font-size: 0.8125em;
 }

 #ref-body{
   display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 }

 #ref-form{
  box-sizing:  border-box;
color:rgb(39, 55, 76);
display:block;
font-family:Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-feature-settings:"kern", "liga", "pnum";
font-size:16px;
height:538px;
line-height:24px;
overflow-wrap:break-word;
padding-bottom:20px;
padding-left:20px;
padding-right:20px;
padding-top:20px;
text-size-adjust:100%;
width:558px;
word-break:break-word;
-webkit-box-direction:normal;
-webkit-font-smoothing:antialiased;

 }

#ref-text{
padding: 250px;
background-color:rgb(255, 255, 255);
border-bottom-color:rgba(0, 0, 0, 0.15);
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
border-bottom-style:solid;
border-bottom-width:1px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgba(0, 0, 0, 0.15);
border-left-style:solid;
border-left-width:1px;
border-right-color:rgba(0, 0, 0, 0.15);
border-right-style:solid;
border-right-width:1px;
border-top-color:rgba(0, 0, 0, 0.15);
border-top-left-radius:3px;
border-top-right-radius:3px;
border-top-style:solid;
border-top-width:1px;
box-shadow:none;
box-sizing:border-box;
color:rgb(0, 0, 0);
cursor:text;
display:block;
flex-direction:column;
font-family:Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-feature-settings:"kern", "liga", "pnum";
font-size:16px;
font-stretch:100%;
font-style:normal;
font-variant-caps:normal;
font-variant-east-asian:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-weight:400;
letter-spacing:normal;
line-height:24px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
overflow-wrap:break-word;
overflow-x:auto;
overflow-y:auto;
padding-bottom:8px;
padding-left:8px;
padding-right:8px;
padding-top:8px;
resize:none;
text-align:start;
text-indent:0px;
text-rendering:auto;
text-shadow:none;
text-size-adjust:100%;
text-transform:none;
white-space:pre-wrap;
width:518px;
word-break:break-word;
word-spacing:0px;
writing-mode:horizontal-tb;
-webkit-appearance:none;
-webkit-box-direction:normal;
-webkit-font-smoothing:antialiased;
-webkit-rtl-ordering:logical;
-webkit-border-image:none;
}

#ref-form > form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.ref-errors{
    color: #3e1214;
  // background-color: #f1cdd0;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}